button {
  color: white;
}

 /* sets the background color when each project is hovered */
.hoverUpvoice {
    background: blue;
    transition: background-color 1s linear;
}
.hoverMovie {
    background: red;
    transition: background-color 1s linear;
}
.hoverTrivia {
    background: darkblue;
    transition: background-color 1s linear;
}
.hoverBudget {
    background: green;
    transition: background-color 1s linear;
}
header {
    background-color: rgb(62,65,71);
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.myInfo {
    height: 2175px;
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 300px;
}
.tags {
    border: 3px solid white;
    padding: 22px;
    font-size: 3rem;
    width: 165px;
    text-align: center;
    color: white;
}
p {
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
}

img {
  height: 250px;
}

footer {
  position: fixed;
  width: 100%;
  background-color: rgb(37,39,43);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.myProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 475vh;
  width: 100%;
}
.myProjects a {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 270px;
  text-decoration: none;
}
.projectInfo h1 {
  border: 3px solid white;
  padding: 5px;
  font-size: 2rem;
}

#upvoice {
  color: white;
  border: 3px solid white;
}
#upvoice:hover {
  background-image: url("/assets/UpvoiceLogo ScreenShot.png");
  background-position: center;
  background-size: cover;
}
#movieDatabase {
  color: white;
  border: 3px solid white;
}
#movieDatabase:hover {
  background-image: url("/assets/Urkernal Logo.png");
  background-position: center;
  background-size: cover;
}
#triviaApp {
  border: 3px solid white;
  color: white;
}
#triviaApp:hover {
  background-image: url("/assets/Trivia App.png");
  background-position: center;
  background-size: cover;
}
#budgetApp {
  border: 3px solid white;
  color: white;
}
#budgetApp:hover {
  background-image: url("/assets/Budget App img2.png");
  background-position: center;
  background-size: cover;
}

.projectInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 275px;
  color: white;
}
.mySkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fa-2x {
  font-size: 4rem;
  margin: 5px;
  flex-basis: 46%;
  width: 96px;
}

 /* adds animation to each project title movie them above project image */
.moveTitle {
  position: relative;
  animation-name: title;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes title{
  from {top: 0;}
  to {top: -160px;}
}